<div class="nav-lists">
    <h5 class="small-heading">LISTS</h5>
    <div class="list-options">
        {% for list in all_lists %}
            <a href="{{ url_for("user.lists.index", list_id=list.id) }}">
                <div class="list-item">
                    <div>
                        <div style="background-color: {{ list.color.color }}" class="list-box"></div>
                        <div>
                            <span>{{ list.name }}</span>
                        </div>
                    </div>
                    <div class="list-item-counter">
                        <span>{{ list.sticky_note | length }}</span>
                    </div>
                </div>
            </a>
        {% endfor %}

        <!-- ADD NEW LIST BUTTON -->
        <div class="list-item" id="add-new-list">
            <div>
                <div class="list-box">
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </div>
                <div>
                    <span>Add New List</span>
                </div>
            </div>
        </div>
    </div>
</div>