*{
    box-sizing: border-box;
    font-family: Poppins;
}

a{
    text-decoration: none;
    color: black;
}

.content-wrapper{
    padding: 20px;
    display: flex;
    gap: 30px;

    max-width: 1300px;
    margin-inline: auto;

    min-height: 700px;
}

.page-content{
    flex: 1;
}

.small-heading{
    margin-bottom: 0;
}

/* NAV-BAR CSS */
.sidebar-nav{
    width: 25%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;

    height: inherit;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-header svg{
    width: 25px;
    height: 25px;
}

.nav-search-bar .search-bar{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid #d3d3d3;
    padding: 7px 10px;
    border-radius: 5px;
}

.nav-search-bar svg{
    fill: grey;
}

.nav-search-bar .search-bar div{
    display: flex;
    align-items: center;
}

.nav-search-bar input, .nav-search-bar .input-form{
    width: 100%;
}

.nav-search-bar input{
    border: none;
    outline: none;
    background-color: transparent;
}

.tasks-options, .list-options, .footer{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tasks-options .option, .list-options .list-item, .footer .footer-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    transition: .2s ease-in-out all;

    cursor: pointer;
}

.tasks-options .option:hover,
.list-options .list-item:hover,
.tasks-options .option:is(.active){
    background-color: #e8e8e8;
}

.tasks-options .option:hover .option-counter span,
.tasks-options .option:is(.active) .option-counter span
{
    background-color: #cccccc;
    color: #696969;
}

.tasks-options .option div:first-child, .list-options .list-item div:first-child{
    display: flex;
    align-items: center;
    gap: 10px;
}

.tasks-options .option-counter span, .list-item .list-item-counter span{
    background-color: #eaeaea;
    color: #696969;
    padding: 1px 7px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    transition: .2s ease-in-out all;
}

.page-heading{
    margin: 0;
    font-size: 40px;
}

.list-item div{
    display: flex;
    align-items: center;
}

.list-box{
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.list-box:has(svg){
    width: 30px;
    height: 30px;
    border-radius: 0;
}

.sign-out-btn{
    display: flex;
    gap: 10px;
}

.footer{
    margin-top: auto;
}
.footer-item>div div{
    display: flex;
    align-items: center;
}

.page-content{
    display: flex;
    flex-direction: column;
}
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.user__profile-picture{
    position: relative;
    cursor: pointer;
}

.user__profile-picture:hover .user__drop-down{
    display: block;
}

.user__profile-picture img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.user__drop-down{
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
    width: 150px;
    padding: 10px;
    right: 0;
    border-radius: 10px;
    display: none;
    font-size: 14px;
}

.user__drop-down .user__full-name{
    color: grey;
    display: block;
    margin-bottom: 15px;
    width: 100%;
}

.user__drop-down__item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.page-content-wrapper{
    border: 1px solid lightgray;
    height: 100%;
    border-radius: 10px;
}

.popup-wrapper{
    position: fixed;
    padding: 30px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.1);

    display: none;

    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

.popup-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popup-header div{
    display: flex;
    align-items: center;
}
.popup-close{
    cursor: pointer;
}

        .sticky-note-wrapper{
            display: flex;
            gap: 20px;
            flex-wrap: wrap;

            padding: 20px;
        }

        .sticky-note{
            padding: 20px;
            border-radius: 10px;

            min-height: 300px;

            flex: 1 0 350px;
        }

        .sticky-note h2{
            margin-top: 5px;
        }

        .sticky-add{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f5f5f5;
            cursor: pointer;

            transition: 0.2s ease-in-out all;
        }

        .sticky-add:hover{
            background-color: #eaeaea;
        }

        .sticky-add svg{
            width: 150px;
            height: 150px;
            fill: #cccccc;
        }

        .add-sticky-note{
            width: 400px;
            min-height: 300px;
        }

        .add-sticky-note label{
            display: block;
        }

        .add-sticky-note form{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        .add-sticky-note form > div{
            flex: 1;
        }

        .add-sticky-note form input[type=text], .add-sticky-note form textarea, .add-sticky-note form select{
            width: 100%;
            padding: 10px;
            border-radius: 10px;

            outline: none;
            border: 1px solid lightgrey;
        }

        .add-sticky-note form textarea{
            height: 250px;
            resize: none;
        }

        .add-sticky-note form input[type=submit]{
            float: right;
            padding: 10px 30px;
            border-radius: 10px;

            border: none;
            outline: none;

            background-color: #d3d3d3;
            font-weight: bold;

            cursor: pointer;
        }

        .add-sticky-note form input[type=submit]:hover{
            background-color: #cccccc;
        }

        .color-options{
            margin-top: 5px;
            display: flex;
            gap: 5px;
        }

        .color-options .color label {
            width: 30px;
            height: 30px;

            border-radius: 100px;
            cursor: pointer;
        }
        .color-options .color input[type=radio]{
            display: none;
        }

        .color-options .color input[type="radio"]:checked+label{
            border: 2px solid black;
        }