<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register | Todo Website</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <form method="post" action="{{ url_for("user.auth.register") }}" enctype="multipart/form-data">
        <h2>Register</h2>
        <img src="" id="profile-pic-preview" width="100px" height="100px">
        <input type="text" name="fullname" placeholder="Full Name">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="c-password" placeholder="Confirm Password">
        <input id="profile_file" type="file" name="profile-pic">
        <input type="submit" value="Submit">
    </form>

    <script>
        $("form").submit(function(){
            let full_name = $("input[name='fullname']").val()
            let username = $("input[name='username']").val()
            let password = $("input[name='password']").val()
            let c_password = $("input[name='c-password']").val()

            // IF ANY OF THE REQUIRED FIELD IS EMPTY
            // FULL NAME, USERNAME, PASSWORD
            if(full_name == "" || username == "" || password == "") {
                event.preventDefault();
                return
            }

            if(password != c_password){
                event.preventDefault();
                //ERROR MESSAGE TO DISPLAY INVALID PASSWORD MATCH
                $("input[name='password']").val("")
                $("input[name='c-password']").val("")
                return;
            }
        });

        var imageContainer = document.getElementById("profile-pic-preview")
        var imgInp = document.getElementById("profile_file")

        imgInp.onchange = evt => {
          const [file] = imgInp.files
          if (file) {
            imageContainer.src = URL.createObjectURL(file)
          }
        }
    </script>
</body>
</html>