<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="{{ url_for("user.sticky_wall.update", sticky_note_id=sticky_note.id) }}">
        {% for color in colors %}
            <div>
                <input type="radio" name="color" value="{{ color.id }}" {{ "checked" if color.id == sticky_note.color_id }}>
                <span>{{ color.color }}</span>
            </div>
        {% endfor %}
        <input type="text" name="title" value="{{ sticky_note.title }}">
        <textarea name="content">{{ sticky_note.content }}</textarea>
        <input type="submit" value="update">
    </form>
</body>
</html>