{% extends "base.html" %}

{% set sticky_wall_active = "active" %}

{% block content %}
    <div class="sticky-note-wrapper">
        {% for sticky_note in sticky_notes %}
            <div class="sticky-note" style="background-color: {{ sticky_note.color.color }}">
                <div class="sticky-note-header">
                    <div class="sticky-note-options">
                        <a href="{{ url_for("user.sticky_wall.update", sticky_note_id=sticky_note.id) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#0c0c0c" class="bi bi-pencil-square" viewBox="0 0 16 16">
                              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg>
                        </a>

                        <a href="{{ url_for("user.sticky_wall.delete", sticky_note_id=sticky_note.id) }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#0c0c0c" class="bi bi-trash3" viewBox="0 0 16 16">
                              <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg>
                        </a>
                    </div>
                    <div class="sticky-note-title">
                        <h2>{{ sticky_note.title }}</h2>
                    </div>
                </div>
                <p>{{ sticky_note.content }}</p>
            </div>
        {% endfor %}
        <div class="sticky-note sticky-add">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>
        </div>
    </div>
{% endblock content %}

{% block popup_content %}
{% endblock popup_content %}

{% block scripts %}
    <script>   // WHEN NEW STICKNOTE BUTTON IS CLICKED
        $(".sticky-add").click(function (){
            $(".popup-wrapper").html(`
                <div class="popup-header">
                <div class="heading">
                    <h2>Add New Sticky Note</h2>
                </div>
                <div class="popup-close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                </div>
            </div>
            <div class="add-sticky-note">
                {% if list %}
                    {% set form_url = url_for("user.lists.add_sticky_note", list_id=list.id) %}
                {% else %}
                    {% set form_url = url_for("user.sticky_wall.add") %}
                {% endif %}
                <form method="post" action="{{ form_url }}">
                    <div class="form-input">
                        <label>Choose Color</label>
                        <div class="color-options">
                            <!-- ADD NEW COLORS HERE -->
                            {% for color in sticky_note_colors %}
                                <div class="color">
                                    <input id="color-{{ color.id }}" type="radio" value="{{ color.id }}" name="sticky-note-color" required>
                                    <label style="background-color: {{ color.color }};" for="color-{{ color.id }}"></label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                        <div class="form-input">
                        {% if not list %}
                            {% if all_lists %}
                                <label>Choose List</label>
                                <select name="sticky-note-list" required>
                                    <option>-- Choose Any --</option>
                                    {% for list in all_lists %}
                                        <option value="{{ list.id }}">
                                            {{ list.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            {% else %}
                                <label style="text-align: center; color: red;">Please add a list to add a Sticky Note!</label>
                            {% endif %}
                        {% endif %}
                        </div>
                        <div class="form-input">
                            <label>Note Title</label>
                            <input type="text" name="sticky-note-title" required>
                        </div>
                        <div class="form-input">
                            <label>Note Content</label>
                            <textarea name="sticky-note-content" required></textarea>
                        </div>
                        <div>
                            <input type="submit" value="Add">
                        </div>
                    </form>
                </div>
            `)
            $(".popup-wrapper").css("display", "block")

            $(".popup-close").click(function (){
                $(".popup-wrapper").css("display", "none")
                $(".popup-wrapper").html("")
            })
        })
    </script>

{% endblock scripts %}